body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 13px;
  width: 4px;
  border-radius: 50px;
  background: #2a6586;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #4aa9de;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 0px 0px 0px #000000;
  background: #4aa9de;
  border-radius: 5px;
  border: 0px solid #000000;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 13px;
  width: 4px;
  border-radius: 50px;
  background: #2a6586;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #4aa9de;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-fill-upper {
  background: #4aa9de;
  border: 0px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000;
  border: 0px solid #000000;
  height: 13px;
  width: 4px;
  border-radius: 50px;
  background: #2a6586;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #4aa9de;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #4aa9de;
}

.plsoptions {
  justify-self: flex-end;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}
html {
  min-width: 800px;
}
/* body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #7c7575;
} */
body {
  font-family: "Open Sans", arial, sans-serif;
  padding-bottom: 56px;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(45deg, #222, #333);
  background-attachment: fixed;
  color: #f2f2f2;
  letter-spacing: 0.03em;
}
button {
  background: none;
  border: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
}

.draggable {
  -webkit-app-region: drag;
  user-select: none;
}

.no_drag {
  -webkit-app-region: no-drag;
}

.hide {
  display: none;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* overflow-x: hidden; */
}

.windowCtr {
  display: flex;
  background: #383838;
  color: white;
  padding: 2px;
}

span.appName {
  flex: 1 1;
}

span.closeW {
  width: 22px;
  font-weight: bold;
  text-align: center;
}

span.minW {
  width: 22px;
  font-weight: bold;
  text-align: center;
}

.loi {
  margin: auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1 1;
  padding: 0;
  width: 70vw;
}

.loi li {
  margin: 2px;
  font-weight: 450;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.loi li:hover {
  background-color: #dfdfdf;
}

.loi img {
  height: 200px;
  width: 200px;
  transition: box-shadow 0.5s ease;
  border-radius: 3px;
}
